@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Lacquer&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #000000;
    color: #F6F6F6;
    height: 100vh;
}

.cabecalho{
    padding-top: 2%;
}

.cabecalho_subtitulo{
    text-align: center;
    font-family: "Lacquer", system-ui;
    font-size: 2rem;
    color: #F6F6F6;
    letter-spacing: 10px;
}



.apresentacao{
    padding: 10% 0%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.apresentacao_titulo{
    margin-bottom: 5%;
    font-family: "Lacquer", system-ui;
    font-size: 6rem;
    letter-spacing: 10px;
}

.apresentacao_subtitulo{
    font-family: "Lacquer", system-ui;
    font-size: 1.2rem;
}

strong{
    color: #731DD8;
}

.texto_destaque{
    color: #731DD8;
    text-decoration: underline;
}

.apresentacao_links{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.apresentacao_links_navegacao{
    text-decoration: none;
    color: #F6F6F6;
    font-family: "Lacquer", system-ui;
    border: 2px solid #731DD8;
    border-radius: 8px;
    padding: 24px;
    width: 15%;
    text-align: center;
}

.apresentacao_subtitulo2{
    padding-top: 5%;
    color: #731DD8;
    font-size: 2rem;
    font-family: "Lacquer", system-ui;
}

.sobre_o_album{
    width: 70%;
    padding: 0 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
    color: #F6F6F6;
}

.imagem_album{
    width: 35%;
    border: 10px solid #731DD8;
    margin-right: 18px;
}

.sobre_o_album_subtitulo{
    font-family: "Lacquer", system-ui;
    font-size: 3em;
    margin-bottom: 2%;
    background-color: #9143eb15;
    color: #731DD8;
}

.sobre_mim_imagem{
    margin-left: 18px;
}

.texto{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    text-align: justify;
}

.links{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.links_navegacao{
    background-color: #731DD8;
    width: 50%;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.2em;
    color: #000000;
    font-family: 'Expletus Sans', sans-serif;
    font-weight: bolder;
}

.links_navegacao:hover{
    border: 2px solid #731DD8;
    background-color: #000000;
    color: #731DD8;
}

.sobre_mim_subtitulo{
    background-color: #9143eb15;
    font-size: 2.3em;
    font-family: "Lacquer", system-ui;
    color: #731DD8;
    margin-bottom: 30px;
}

@media (max-width: 1200px){

    .cabecalho{
        padding: 10px;
        justify-content: center;
    }

    .apresentacao_titulo{
        letter-spacing: normal;
        font-size: 2.5rem;
    }

    .apresentacao_subtitulo{
        padding: 12% 0;
    }

    .apresentacao_links_navegacao{
        width: 50%;
    }

    .apresentacao_subtitulo2{
        padding-top: 30%;
        font-size: 1rem;
        align-items: center;
    }
}